{{template "head" .}}
<body>
	{{template "header" .}}
	<!-- Additional scritps here -->
	<script src="/static/js/rendering/notes.js"></script>
	<script src="/static/js/api/notes.js"></script>
	<script src="/static/js/api/todos.js"></script>

	<script>
		var databaseAPI = new NoteAPI('{{.Config.URLDatabaseAPI}}')
		var notesRenderer = new NotesRendering
	</script>

	<div class="container">
		<!-- Main row for the notes and todos -->
		<div class="row">
			<!-- Notes cols -->
			<div class="col s12 l6">
				<div id="AllNotes">
					<div class="card z-depth-3" style="margin-top: 40px;">
						<div class="card-content">
							<h1 class="section-title" style="margin:0px;">notes</h1>
						</div>
					</div>
					<div class="card">
						<div class="card-content">
							<table class="striped">
								<tbody id="AllNotesTableBody">
									<script>
										databaseAPI.RequestAll(notesRenderer.AllHomePage);
									</script>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- Todos cols -->
			<div class="col s12 l6">
				<div id="AllTodos">
					<div class="card z-depth-3" style="margin-top: 40px;">
						<div class="card-content">
							<h1 class="section-title" style="margin:0px;">todos</h1>
						</div>
					</div>
					<div class="card">
						<div class="card-content">
							<table class="striped">
								<tbody id="AllTodosTableBody">
									<!-- <script>
										databaseAPI.RequestAllTodos(todosRenderer.AllTodosHomePage);
									</script> -->
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card z-depth-3" style="margin-top: 60px;">
			<div class="card-content">
				<h1 class="section-title" style="margin:0px;">new note</h1>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col l3 m6 s12">
						<input id="new-note-title" name="title" type="text" placeholder="Title">
					</div>
					<div class="col l9 m6 s12">
						<textarea id="new-note-content" name="content" class="materialize-textarea" placeholder="Content"></textarea>
					</div>
				</div>
				<button id="btn-valid-new-note" class="btn red" onclick="databaseAPI.NewNote('new-note-title', 'new-note-content'); databaseAPI.RequestAllNotes(notesRenderer.AllNotesHomePage);">add</button>
			</div>
		</div>
	</div>
	{{template "footer" .}}
</body>
</html>
