<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.PageName}}</title>

	<!-- Favicon -->
	<link rel="icon" href="/static/img/logo-nci.jpg">

	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Scripts -->
	<script src="/static/js/database.js"></script>
	<script src="/static/js/form.js"></script>
	<script src="/static/js/rendering/notes.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
	<script>
		var databaseAPI = new DatabaseAPI('{{.Config.URLDatabaseAPI}}')
		var notesRenderer = new NotesRendering
	</script>

	<nav class="nav-wrapper">
		<div class="container">
			<a href="/" class="brand-logo">orgpa</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">titi</a></li>
				<li><a href="#">tata</a></li>
				<li><a href="#">toto</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="card z-depth-3" style="margin-top: 40px;">
			<div class="card-content">
				<h1 class="section-title" style="margin:0px;">{{.Data.data.title}}</h1>
			</div>
		</div>
		<div class="card z-depth-3">
			<div class="card-content">
				<div class="input-field">
					<textarea id="modified-note-content" class="materialize-textarea" onkeyup="ShowValidateButton('{{.Data.Content}}', this.value, 'btn-valid-content')">{{.Data.data.content}}</textarea>
				</div>
				<div class="row">
					<button id="btn-valid-content" class="btn red" style="display:none;margin-bottom: 10px;" onclick="databaseAPI.ModifyNote('{{.Data.data.id}}', 'modified-note-content')">modify</button>
					<button id="btn-delete-note" class="btn red" onclick="databaseAPI.DeleteNote('{{.Data.data.id}}', '/')">delete</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
